* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.bookmark-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bookmark-form input {
    width: 40%;
    padding: 10px;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
}

.bookmark-form button {
    width: 30%;
    padding: 10px 20px;
    margin: 2px 5px;
    background-color: #2734f5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.bookmark-form button:hover {
    background-color: #218838;
}

#bookmarks-list {
    margin-top: 20px;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.bookmark a {
    color: #007bff;
    text-decoration: none;
}

.bookmark a:hover {
    text-decoration: underline;
}

.bookmark button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.bookmark button:hover {
    background-color: #c82333;
}
